
# Created by https://www.gitignore.io/api/git,gradle,intellij

### Git ###
*.orig

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
SERVER/WEB_API/.idea/**/workspace.xml
SERVER/WEB_API/.idea/**/tasks.xml
SERVER/WEB_API/.idea/dictionaries

# Sensitive or high-churn files:
SERVER/WEB_API/.idea/**/dataSources/
SERVER/WEB_API/.idea/**/dataSources.ids
SERVER/WEB_API/.idea/**/dataSources.xml
SERVER/WEB_API/.idea/**/dataSources.local.xml
SERVER/WEB_API/.idea/**/sqlDataSources.xml
SERVER/WEB_API/.idea/**/dynamic.xml
SERVER/WEB_API/.idea/**/uiDesigner.xml

# Gradle:
SERVER/WEB_API/.idea/**/gradle.xml
SERVER/WEB_API/.idea/**/libraries

# CMake
SERVER/WEB_API/cmake-build-debug/

# Mongo Explorer plugin:
SERVER/WEB_API/.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
SERVER/WEB_API/out/

# mpeltonen/sbt-idea plugin
SERVER/WEB_API/.idea_modules/

# JIRA plugin
SERVER/WEB_API/atlassian-ide-plugin.xml

# Cursive Clojure plugin
SERVER/WEB_API/.idea/replstate.xml

# Ruby plugin and RubyMine
/.rakeTasks

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### Intellij Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

*.iml
SERVER/WEB_API/modules.xml
SERVER/WEB_API/.idea/misc.xml
*.ipr

# Sonarlint plugin
SERVER/WEB_API/.idea/sonarlint

### Gradle ###
SERVER/WEB_API/.gradle
**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties


# End of https://www.gitignore.io/api/git,gradle,intellij
/SERVER/WEB_API/.idea/vcs.xml
/SERVER/WEB_API/.idea/kotlinc.xml
